= form_tag(addskill_path, method: 'get', class: 'form-class', role: 'form') do
  .form-group
    = text_field_tag :skill,"" , class: "form-control"
    = submit_tag "Add skill", class: "btn btn-default"