.authform
  %h1 FIND GEEKS AROUND YOU =)
  = render 'new_form'

:scss
  main, body, html{
    margin: 0;
    padding: 0;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
  }
