.row
  .search-items.col-md-6
    %h3 Driver request
    .items-list
      %ul.list-unstyled#search-ul
        = render partial: "drive_list_item", collection: @d_pair, as: :pair
  .search-items.col-md-6
    %h3 Navigator request
    .items-list
      %ul.list-unstyled#search-ul
        = render partial: "navigate_list_item", collection: @n_pair, as: :pair

#editPairModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#exampleModalLabel.modal-title Edit request
      .modal-body