/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery-ui
 *= require selectize
 *= require selectize.bootstrap3
 *= require_tree .
 *= require_self
 */
@import 'ionicons';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "brand-buttons";
@import "brand-buttons-inversed";
@import 'bootstrap-datetimepicker';
@import "intlTelInput";

.footer {
  height: 50px; /* .push must be the same height as .footer */
}
.push{
  height: 98px;
}

body {
  background:#ECF0F1; // #EDF0F5; //rgb(235, 238, 243);
  width:100%;
  height:100%;
}

footer {
  height: 60px;
}
footer {
  background-color: #eee;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index:2000 !important;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.ui-helper-hidden-accessible { display:none; }

.map_canvas {
  width: 600px;
  height: 400px;
  margin: 10px 20px 10px 0;
}

#edit-map{
  width: 600px;
  height: 400px;
}

#multiple li {
  cursor: pointer;
  text-decoration: underline;
  z-index: 0;
}

.box {
  background: white;
  @include box-shadow;
  @extend .well;
  @extend .well-lg;
  padding-bottom: 30px;
}

.pac-container { z-index:2000 !important; }

.selectize-input.not-full > input {
  width: 100% !important;
}

.nav-user{
  border-right: solid 1px #ECF0F1;
  .navbar-profile-img{
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 5px;
    float: left;
  }
}

.nav{
  .badge{
    font-size: 14px;
    margin:auto;
    text-align:center;
    vertical-align:middle;
    background-color: $red;
  }
  .ion-android-notifications,
  .ion-android-settings,
  .ion-person-stalker,
  .ion-android-notifications-none,
  .ion-ios-person-outline,
  .ion-ios-person,
  .ion-code,
  .ion-code-working,
  .ion-close,
  .ion-edit{
    margin:auto;
    text-align:center;
    vertical-align:middle;
    font-size: 21px;
  }
  .ion-code-working,
  .ion-android-notifications{
    color:$red;
  }

  .ion-search{
    font-size: 15px;
  }
  .search-btn{
    max-height: 34px;
    margin-bottom: 5px;
  }
  #skill_search{
    max-width: 150px;
  }
  #location_address{
    max-width: 200px;
  }
}

.nav-line{
  border-right: solid 1px #ECF0F1;
}
.datepicker {z-index: 1151 !important;}

.via{
  text-align: center;
  position: relative;
  height: 50px;
  line-height: 50px;
}

.selectize-control{
  min-width: 200px;

  display: inline-block;
  .selectize-input, .item, input{
    display: inline-block;
  }
  .selectize-input {
    height: 20px;
    max-width: 300px;
    overflow: hidden;
  }
  .selectize-input input {
      height: 20px;
      max-width: 300px;
      overflow: hidden;
    }
}

#location_address{
  margin-bottom: 5px;
}

.ion-social-github,
.ion-social-twitter,
.ion-social-googleplus{
  font-size: 19px;
}
