@import "variables";

.footer {
  .footer-contant{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align: center;
  }
  position: absolute;
  border-top: 2px solid $red;
  display: block;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #FFFFFF;
  .contact{
    float: left;
    padding: 10px;
    padding-bottom: 0px;
  }
  .copyright{
    bottom: 0;
    padding-bottom: 5px;
  }
  .follow{
    padding: 10px;
    float: right;
    padding-bottom: 0px;

  }

  .links{
    p {
      font-weight: bold;
      font-size: 23px;
    }
    a {
      width: 64px;
      height: 64px;
    }
    .btn-facebook-inversed,
    .btn-twitter-inversed{
      margin: 0px;
      span{
        display:table;
        margin:0 auto;
        margin-top: 8px;
        font-size: 30px;
      }
    }
  }
  .admin{
    .admin-img{
      float: left;
    }
    .admin-info{
      float: right;
      p, .email, .name {
        display: block;
        margin: 0 0 0 5px;
      }
      .name{
        margin-top: 2px;
      }
      .who{
        font-weight: bold;
        margin-top: 1px;
      }
    }
  }
}
