@import "variables";

.status-red{
  background-color: #FFBDBD !important;
}
.status-green{
  background-color: #A7FFBD !important;
}
.status-gray{
  background-color: #D8D8D8 !important;
}
.status-yellow{
  background-color: #EBFF69 !important;
}
