// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "mixins";

#edit-profile-avatar{
  margin-left: 0px;
}

#profile_info{
  background: white;
  @include box-shadow;
  min-height: 300px;
  max-height: 300px;
  border-radius: 5px;
  padding: 2em 8%;
  h1 {
    font-size: 36px;
    font-weight: normal;
    color: $red;
  }
  .description {
    color: #8A8A8A;
    font-size: 20px;
  }
}

.profile_img {
  height:200px;
  width:200px;
  float:left;
  border-radius: 5px;
  @include box-shadow;
  background-color: #F8F8F8;
}



.profile-head{
  position: relative;
  top: -80px;
  .profile-image-box{
    margin-left: 30px;
    margin-top: -175px;
    position: relative;
    z-index: 1;
  }
  .profile-name{
    color: #396388;
    font-weight: bold;
    margin-left: 240px;
    text-shadow: #fff 0.0em 0.0em 0.9em;
  }
  .navbar{
    max-height: 20px;
  }
  .navbar-header{
    margin-left: 200px;
  }
  .bar{
    position: relative;
    margin-top: -6px;
    height: 60px;
    width: 100%;
    background-color: white;
  }
  ul{
    text-align:center;
    height: 100%;
    padding-left: 0px;
    font-size: 1em;
    list-style-type: none;
    li{
      height: 100%;
      display: inline-block;
      width: auto;
      a{
        p{
          font-weight: bold;
        }
      }
    }
  }
}

.cover-img{
  min-width: 100%;
}
#profile-map {
  width: 100%;
  height: 350px;
}

#profile-top{
  @extend .row;
  height: 420px;
  margin-bottom: 100px;
  padding-bottom: 0;
}

#profile-content{
  margin-top: -60px;
  // margin-left: 20px;
}
#about{
  margin-left: 20px;
}

#profile-main{
  @extend .row;
  margin-left: -20px;
  margin-top: 10;
  padding-top: 0;
}
