.search-item-box{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ECF0F1;
  .item-img{
    width: 100px;
    height: 100px;
    background-color: #F8F8F8;
    margin: 5px;
    float: left;
  }
  .info{
    // display: inline-block;
    .bio {
      height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;     /* fallback */
      max-height: 32px;      /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    padding-bottom: 5px;
    .name{
      font-size: 1.5em;
    }
    .username{
      font-size: 0.6em;
      color: #9D9D9D;
      display:inline;
    }
    .title{
      height: 18px;
      font-size: 0.9em;
      padding: 0;
      margin: 0;
      margin-top: -5px;
      color: #9D9D9D;
    }
    .address{
      font-size: 0.9em;
      padding: 0;
      margin: 0;
      margin-top: -5px;
      color: #9D9D9D;
    }
    .skills{
      font-size: 1em;
      margin-top: 5px;
      // margin-top: 50px;
    }
  }

  .pait-btn{
    // position: absolute;
    margin-right: 5px;
    margin-top: 13px;
    float: right;
    max-width: 89px;
    .btn-facebook, .btn-twitter{
      margin-right: 3px;
    }
    .btn{
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      max-height: 40px;
      margin-bottom: 4px;
      padding: 0;
      span{
        display:table;
        margin:0 auto;
        margin-top: 2px;
        font-size: 25px;
      }
    }
    a{
      padding-top: 1px;
      padding-bottom: 0px;
    }
    .ion-code-working{
      font-size: 20px;
      margin:auto;
      text-align:center;
      vertical-align:middle;
    }
  }
}
