// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#search-map {
  width: 100%;
  height: 350px;
  margin: 0px;
}
.map-cont{
  padding: 5px;
  padding-top: 10px;
  height: 55%;
}
.btn-group{
  width:100%;
}
.map-fixed {
  padding: 9x 0;
  position: fixed;
  width : 50%;
}



#search-controls{
  padding: 5px;
  margin-top: 10px;
  .input-group{
    margin-bottom: 5px;
  }
  #qdomain, #qedu{
    margin-bottom: 5px;
  }
  .form-group{
    width: 100%;
  }
}

.search-items{
  background-color: #fff;
  // @extend .col-md-7;
  // @extend .col-md-offset-5;
  margin-bottom: 0;
  padding: 0;
  .items-list{
    li{
      background-color: #fff;
      height: 100%;
      width: 100%;
      margin: 0px;
      float: left;
    }
    .has-hover:hover {
      background-color: #F4F9FC;
    }
    .active{
      background-color: #E6EBF6;
    }
  }
}


.search-box{
  float: left;
  background-color: #ECF0F1;
  padding-bottom: 2px;
  width: 100%;
}

#side {
  background-color: white;
}

.search-filter{
  @extend .row;
  background-color: #ECF0F1;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
@media(max-width:768px) {
  #search-controls{
    margin-top: 0px;
  }
}

@media(max-width:992px) {
  #search-controls{
    margin-top: 0px;
  }
  #side {
    padding-top: 10px;
    margin: 0 15px 15px 15px;
  }
}
@media(min-width:992px) {
  #side {
    position: fixed;
  }
}
