@import "mixins";

.search-item-box{
  border-bottom: 1px solid #ECF0F1;
  .item-img{
    float: left;
    width: 50px;
    height: 50px;
    background-color: #F8F8F8;
    margin: 5px;
  }
  #box-skills{
    padding: 5px;
    padding-top:3px;
    margin-bottom: 0px;
  }

  .bio {
    padding-left: 5px;
    margin-top: -7px;
    padding-right: 5px;
    padding-top: 3px;
    color: #747474;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 65px;      /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .info{
    height: 60px;
    vertical-align: top;
    padding: 0;
    display: table-cell;
    padding-bottom: 0px;
    .name{
      font-size: 1.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .username{
      font-size: 0.6em;
      color: #9D9D9D;
      display:inline;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title{
      height: auto;
      font-size: 0.9em;
      padding: 0;
      margin: 0;
      margin-top: -6px;
      color: #5d5d5d;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .domain{
      height: auto;
      font-size: 0.9em;
      padding: 0;
      margin: 0;
      margin-top: -3px;
      color: #5d5d5d;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .box-top{
    height: 60px;
    width:100%;
    display: inline-table;
  }

  .linked_accounts-btn{
    display: table-cell;
    vertical-align: top;
    // max-width: 180px;
    width: auto;
    height: 60px;
    padding: 5px;
    padding-top: 7px;
    padding-right: 0;
    .btn{
      float: right;
      margin-right: 5px;
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      max-height: 40px;
      margin-bottom: 4px;
      padding: 0;
      span{
        display:table;
        margin:0 auto;
        margin-top: 2px;
        font-size: 25px;
      }
    }
    a{
      padding-top: 1px;
      padding-bottom: 0px;
    }
    .ion-code-working{
      font-size: 20px;
      margin:auto;
      text-align:center;
      vertical-align:middle;
    }
  }
}
.upvote{
  display: table-cell;
  width: 50px;
  .btn{
    padding-top: 0px;
    padding-bottom: 4px;
  }
}

.ion-arrow-up-b{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: -3px;
}

.dislike-btn{
  @include box-shadow;

  background-color: #EDECEB;
  float: right;
  margin-right: 5px;
  color: #DB6161;
}

.like-btn{
  @include box-shadow;

  background-color: #EDECEB;
  float: right;
  margin-right: 5px;
  color: #3b87c7;
}
