/ $("#geocomplete").geocomplete("find", latLng.toString());
:javascript
  $("#geocomplete").geocomplete({
    map: ".map_canvas",
    details: "form",
    markerOptions: {
      draggable: true
    }
  });
  
  $("#geocomplete").bind("geocode:dragged", function(event, latLng){
    $("#lat").val(latLng.lat());
    $("#lng").val(latLng.lng());
  });
  
  $("#reset").click(function(){
    $("#geocomplete").geocomplete("resetMarker");
    $("#reset").hide();
    return false;
  });
  
  $("#find").click(function(){
    $("#geocomplete").trigger("geocode");
  }).click();
