-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid

    = link_to 'GEEKHUB', root_path, class: 'navbar-brand', id: "brand"

    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        = render 'layouts/navigation_signin_links'
      - else
        %li.nav-line.signup= link_to "Sign up", signup_path
        %li.nav-line= link_to "Sign in", new_user_session_path

:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
