#search-controls
  = form_tag(search_path, method: 'get', class: 'form-inline') do
    .form-group
      = text_field_tag :skill_search,"" , class: "form-control", placeholder: 'ruby, go, python'
      = text_field_tag :location_address,"" , class: "form-control"
      %button.search-btn.btn.btn-gray{:type => "submit"}
        %i.ion-search
        SEARCH

:javascript

  $("#location_address").geocomplete({
    details: "form",
    markerOptions: {
      draggable: true
    }
  });

  jQuery(function() {
    return $("#skill_search").autocomplete({
      source: "/autocompletes/skill",
      delay: 300,
      minLength: 2
    });
  });
