-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'GEEKHUB.IO', root_path, class: 'navbar-brand', id: "brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= render 'layouts/navigation_search'
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'
